<h1>タスク一覧</h1>
<table class="tasks_table" %>
  <tr>
    <th>タイトル</th><th>重要度</th><th>期限</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td><td><%= task.importance %></td><td><%= task.limit %></td><td><%= button_to "削除", task_path(task.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
